@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik/regular.woff2') format('woff'),
    url('/static/fonts/Graphik/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik/medium.woff2') format('woff'),
    url('/static/fonts/Graphik/medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik/bold.woff2') format('woff'),
    url('/static/fonts/Graphik/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik/black.woff2') format('woff'),
    url('/static/fonts/Graphik/black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/static/fonts/Helvetica/medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
